<div class="wrapper">
  <h2>Search for tweets:</h2>

  <form id="search">
    <input type="text" placeholder="Enter search term (add @ for user)">
    <input type="submit" value="Search">
  </form>

  <ul class="search-results"></ul>
</div>
