<div class="wrapper">
  <h2>Search for tweets:</h2>

  <form id='search' data-user="<%= @user.id %>">
    <input type='text' placeholder='Enter search term (add @ for user, # for hashtag)'>
    <input type='submit' value='Search'>
  </form>
</div>
