<div class="wrapper">
  <h2>Welcome to Tweet Tracker</h2>

  <a href="/auth/twitter">
    <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-link.png.twimg.1920.png" />
  </a>
</div>
