/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  background-color: #f5f5f5;
}

* {
  font-family: 'Helvetica';
}

p, span, input[type='text'],
input[type='submit'], button {
  font-size: 16px;
}

h2 {
  margin: 50px 0 20px 0;
}

a {
  text-decoration: none;
  color: #4c4cff;
}

a:visited, a:hover {
  color: #6666ff;
}

form {
  margin: 10px 0;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto 0 auto;
}

nav {
  margin: 1em 2em 0 0;
  text-align: right;
  a {
    font-weight: bold;
  }
}
