.user {
  img, span {
    display: inline-block;
    vertical-align: middle;
  }

  .user-options {
    display: none;
    position: absolute;
    z-index: 1;
    top: 2.5em;
    right: 3em;
  }  
}



.user:hover {
  cursor: pointer;

  .user-options {
    display: block;
  }
}

.user-options {
  ul {
    list-style: none;
  }

  li {
    line-height: 1.5em;
  }
}